.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    gap: 16px;
    justify-content: center; 
    align-content: center;
}