.intro__list {
    margin: 0 0 92px 0;
    padding: 0;
    list-style: none;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 650px) {
    .intro__list{
        margin: 0;
        }
}