.lead {
    max-width: 984px;
    margin: calc(136px - 80px) auto 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    overflow: hidden;
}

