.main {
    padding: 0 48px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .main {
        padding: 0 24px;
    }
}

@media screen and (max-width: 650px) {
    .main {
        padding: 0;
    }
}