@font-face {
    font-family: 'Inter';
    src: url('./inter/Inter-Regular.woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Inter';
    src: url('./inter/Inter-Bold.woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('./inter/Inter-ExtraBold.woff');
    font-weight: 900;
    font-style: normal;
  }