@font-face {
    font-family: 'Inter';
    src: url('./_name/_Inter/Inter\ Web/Inter-Regular.woff');
    font-weight: normal;
  }
  
@font-face {
    font-family: 'Inter';
    src: url('./_name/_Inter/Inter\ Web/Inter-Bold.woff');
    font-weight: bold;
  }