@import url(../vendor/normalize.css);
@import url(../blocks/fonts/index.css);
@import url(../blocks/body/index.css);
@import url(../blocks/header/index.css);
@import url(../blocks/main/index.css);
@import url(../blocks/page/index.css);
@import url(../blocks/lead/index.css);
@import url(../blocks/intro/index.css);
@import url(../blocks/photo-grid/index.css);
@import url(../blocks/place/index.css);
@import url(../blocks/places/index.css);
@import url(../blocks/cover/index.css);
@import url(../blocks/footer/index.css);
@import url(../blocks/center-block/index.css);
/**/

@media screen and (max-width: 1024px) {

    .place__texts {
        margin-left: 32px;
    }

    .place {
        grid-template-columns: 440px fit-content(460px);
    }

    .place__texts {
        margin-left: 32px;
    }

    .place__website {
        margin-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    

    .main {
        padding: 0 24px;
    }

    .places {
        padding: 0;
        padding: 0 24px;
    }

    .place__website {
        margin-left: 28px;
    }

    .place {
        grid-template-columns: 340px fit-content(460px);
    }

    .place__texts {
        margin-left: 28px;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }

    .footer {
        margin: 0 24px 24px;
    }
    .cover {
        margin-bottom: 88px;
    }
    .intro {
        padding: 0 24px;
    }

    .header__logo {
        margin: 28px auto 0 24px;
    }
}

@media screen and (max-width: 650px) {

    /**/

    .place__title {
        font-size: 32px;
        line-height: 35px;   
        margin: 0 0 32px 0;
    }

    .footer__link {
        display: block;
        margin: 0 0 32px 0;
    }

    .footer__link:last-of-type {
        margin: 0;
    }

    .footer__copyright {
        margin: 48px 0 0 0;
        text-align: left;
    }

    .footer {
        margin: 0 auto 24px 16px;
        flex-direction: column;
        width: 186px;
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
        top: calc((100% - 134px)/2);
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        bottom: calc((100% - 134px)/2);
    }

    .place {
        display: flex;
        flex-direction: column;
    }

    .place__texts {
        margin: 32px 0 0 0;
        padding: 0;
    }

    .cover {
        margin: 64px 0;
    }
    .place__website {
        display: none;
    }

    .places__item {
        margin: 0 0 48px 0;
    }

    .places__item:last-of-type {
        margin: 0;
    }

    .places__item:first-of-type {
        margin: 0 0 48px 0;
    }

    .places {
        margin: 64px 0 0 0;
        padding: 0;
    }

    .header__logo {
        width: 142px;
        height: 42px;
        margin: 16px auto 0 16px;
    }

    .lead__title {
        font-size: 40px;
        line-height: 44px;
        width: 288px;
    }

    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        margin: 16px 0 0 0;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 24px;
        margin: 30px 18px 0 0;
    }
    .header__lang-link:last-of-type {
        margin-right: 16px;
    }

    .intro {
        margin: 64px 0;
        padding: 0;
    }

    .intro__list{
    margin: 0;
    }
    
}