@import url(../vendor/normalize.css);
@import url(../blocks/fonts/index.css);
@import url(../blocks/body/index.css);
@import url(../blocks/header/index.css);
@import url(../blocks/main/index.css);
@import url(../blocks/page/index.css);
@import url(../blocks/lead/index.css);
@import url(../blocks/intro/index.css);
@import url(../blocks/photo-grid/index.css);
/**/

.places {
    margin: 92px auto 0;
    padding: 0 auto 0;
}

.places__item {
    margin: 80px 0 0 0;
    padding: 0;
}

.places__item:first-of-type {
    margin: 0;
}

.place {
    display: grid;
    grid-template-columns: repeat(2, fit-content(484px));
    grid-template-rows: repeat(2, fit-content(400px));
    justify-content: center;
}

.place__image {
    margin: 0;
    padding: 0;
    grid-row: 2;
    grid-column: 1;
}

.place__title {
    max-width: 460px;
    align-self: end;
    grid-row: 1;
    grid-column: 1;
    margin: 0 0 48px 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.place__texts {
    grid-row: 2;
    grid-column: 2;
    max-width: 700px;
    margin: 0 0 0 40px;
    padding: 0;
}

.place__paragraph {
    margin: 0 0 24px 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.place__paragraph:last-of-type {
    margin: 0;
}

.place__url-heading {
    margin: 0 0 12px 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.place__link {
    margin: 12px 0 48px 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

.place__website {
    grid-column: 2;
    grid-row: 1;
    margin: 0 0 48px 40px;
    align-self: end;
}